<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AnA-class</title>
        <link href="/public/upload.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/public/Group.svg" alt="" style="width: 48px; height: 42px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Post</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            <h1>게시물 작성</h1>

            <form action="/upload/upload" method="POST" enctype="multipart/form-data">
                <label for="postTitle">제목</label><br>
                <input type="text" id="postTitle" name="post_title" required><br>

                <label for="postDate">날짜</label><br>
                <input type="text" id="postDate" name="post_date" placeholder="YYYY-MM-DD HH:MM:SS" required><br>

                <label for="postContent">내용</label><br>
                <textarea id="postContent" name="post_content" placeholder="내용을 입력하세요" required></textarea><br>

                <div class="filebox">
                    <input class="upload-name" value="표지를 선택하세요" disabled="disabled">
                    <label for="file">업로드</label>
                    <input type="file" id="file" name="file" accept="image/*" class="upload-hidden" required> 
                </div>
                
                <button type="submit">업로드</button>
            </form>
        </div>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/public/scripts1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
        <script>
            document.getElementById('postDate').addEventListener('focus', function () {
                this.type = 'datetime-local';
            });
            
            document.getElementById('postDate').addEventListener('blur', function () {
                if (!this.value) {
                    this.type = 'text';
                    this.value = '';
                    this.placeholder = 'YYYY-MM-DD HH:MM:SS';
                }
            });
            $(document).ready(function(){
                var fileTarget = $('.filebox .upload-hidden');

                fileTarget.on('change', function(){  // 값이 변경되면
                    if(window.FileReader){  // modern browser
                    var filename = $(this)[0].files[0].name;
                    } 
                    else {  // old IE
                    var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
                    }
                    
                    // 추출한 파일명 삽입
                    $(this).siblings('.upload-name').val(filename);
                });
            }); 
        </script>
    </body>
</html>
